<h1>Citys to visit</h1>

{{#each citysArr}}
    <section class="">
        <h2>{{this.name}}</h2>
        <p>
            Country: {{this.country}} <br />
            Description: {{this.description}} <br />
            Image: {{this.image}} <br />
        </p>
        
    </section>
{{/each}}