<h2>Login</h2>
<form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   <button type="submit">Submit</button>
</form>
<p>Not an account yet? <a href="/auth/signup">Signup here!</a></p>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}