<div class="row justify-content-center my-5">

    <div class="card text-center font-weight-bold p-5 shadow" style="width: 30rem;">
    <div class="card-body">

<h2 class="card-title pb-5">Account of {{user.username}}</h2>
<p>You want to update your account?</p>
<form class="card-text" action="/auth/update" method="POST">
   <div class="form-group">
   <label> Username
      <input type="text" name="username" value="{{user.username}}" required>
   </label>
   </div>
   <div class="form-group">
   <label> Password
      <input type="password" name="password" required>
   </label>
</div>
<input type="hidden" name="userId" value="{{user._id}}">

<div class="form-group">
   <button class="btn btn-info" type="submit">Submit</button>
</div>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>
</div>
</div>