<h2>Activities</h2>
{{#each activities}}
    <div class="activity">
        <p>{{name}}</p>
        <p>{{city.name}}</p>
        <p>{{description}}</p>
        <p>{{location}}</p>
        <hr>
    </div>
{{/each}}