<h2>Add Activity to {{city.name}}</h2>
<form action="/activities/create" method="POST">
    <label>Name: 
        <input type="text" name="name" required>
    </label>
    <label> Description: 
        <textarea name="description" cols="30" rows="4"></textarea>
    </label>
    <label>Location: 
        <input type="text" name="location">
    </label>
    {{!-- <label for="city">City: </label>
    <select name="city" id="city">
        {{#each cities}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select> --}}
    <button>Submit</button>
</form>