<h1>Get Your City!</h1>

{{#each citysArr}}
    <section class="">
        <img src="{{this.imageUrl}}" alt="">
        <h2>{{this.name}}</h2>    
    </section>
{{/each}}

 <a href="/cities/create">Add City</a>