<div class="border">

<h1 class="font-weight-bold">Get Your City!</h1>


<div class="container">
    <div class=" row justify-content-center m-5">
 <button class="btn-lg btn-info add-city-link"><a href="/cities/create">Add City</a></button>
</div>
<div class="row justify-content-center">
{{#each citiesArr}}
<a href="/cities/{{this._id}}">
<div id="citys-card" class="cities-card col-7 col-sm-6 col-md-4 d-flex">
   <div class="card card text-center shadow-lg p-3 mb-5">
    <section class="">
        <img src="{{this.imageUrl}}" class="card-img-top img-fluid max-width:100% height:auto" alt="">
        <div class="card-title font-weight-bold">
        <p id="card-title">{{this.name}}</p>
        </div>
        <a id="details-btn" href="/cities/{{this._id}}" class="btn btn-outline-info btn-sm">See Details</a>
    </section>
    </div>
</div>
</a>
{{/each}}
</div>
</div>

</div>
 
 
   
</div>