<a href="/">Home</a>
<a href="/citys">Back</a>

<h2>Edit the City: {{name}}</h2>

<form action="/cities/{{_id}}/edit" method="POST" enctype="multipart/form-data">
  <label> Name:
    <input type="text" name="name" value="{{name}}" />
  </label>

  <label> Description:
    <textarea name="description" cols="30" rows="4">
        {{description}}
    </textarea>
  </label>
  <label> Image:
    <input type="file" name="cityImage"/>
  </label>


  <button>Save changes</button>
</form>